<!DOCTYPE html>
<html>
    <!-- HTML head -->
    <head>
        <title>Sign Up | E-BEMS</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <!-- CSS bootstrap links -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

        <!-- custom CSS links-->
        <link href="assets/css/loginStyle.css" rel="stylesheet">
        <link href="assets/css/web-fonts.css" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/theme.css">
        <link href="assets/css/footer.css" rel="stylesheet">
        <link href="assets/css/ebemsLogo.css" rel="stylesheet">

        <!-- 3rd party javascript files -->
        <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- custom javascript files -->
        <script src="assets/js/login/validate.js"></script>
        <script src="assets/js/signup/detectMobile.js"></script>

        <script>
            window.onload = function() {
                detectMobile();
            }
        </script>

    </head>
    <!-- End HTML head -->

    <!-- HTML body -->
    <body>
        <!-- header-->
        <header>
        </header>
        <!-- End header -->

        <!-- main -->
        <main class="login-main">
            <!-- Content -->
            <div class="login-content">

                <div class="container">
                    <!-- myForm -->
                    <div class="myForm">

                        <!-- card -->
                        <div class="card">
                            <!-- card body -->
                            <article class="card-body">
                                <h3 class="card-title text-center mb-4 mt-1">회원가입</h3>
                                <hr>

                                <!-- container for error message -->
                                <div id='errorMsgContainer'></div>
                                <!-- End container for error message -->

                                <!-- input form -->
                                <form name="SignInForm" onsubmit="return validateForm()" method="post">

                                    <!-- ID form-group -->
                                    <div class="form-group">
                                        <label for="emailInput">아이디</label>
                                        <!-- input-group -->
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                            </div>
                                            <!-- TODO type: email? text? -->
                                            <input name="id" id="emailInput" class="form-control" placeholder="아이디" type="text" required>
                                        </div>
                                        <!-- End input-group -->
                                    </div>
                                    <!-- End ID form-group -->

                                    <!-- Password form-group -->
                                    <div class="form-group">
                                        <label for="passwordInput">비밀번호</label>
                                        <!-- input-group -->
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                                            </div>
                                            <input name="password" id="passwordInput" class="form-control" placeholder="******" type="password" required>
                                        </div>
                                        <!-- End input-group -->
                                    </div>
                                    <!-- End Password form-group -->

                                     <!-- Region form-group -->
                                     <div class="form-group">
                                         <label for="regionInput">지역</label>
                                         <!-- input-group -->
                                         <div class="input-group">
                                             <div class="input-group-prepend">
                                                 <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                                             </div>
                                             <input name="region" 
                                                id="regionInput" 
                                                class="form-control" 
                                                placeholder="지역"
                                                type="text" 
                                                required>
                                         </div>
                                         <!-- End input-group -->
                                     </div>
                                     <!-- End Region form-group -->

                                    <!-- form-group -->
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-block"> Sign Up </button>
                                        <button 
                                            type="button" 
                                            id="signUpButton" 
                                            class="btn btn-primary btn-block"
                                            onclick="location.href='/login'"
                                        >
                                            Log In
                                        </button>
                                    </div> 
                                    <!-- form-group -->
                                </form>
                                <!-- End input form -->
                            </article>
                            <!-- End card body -->
                        </div>
                        <!-- End card -->

                    </div>
                    <!-- End myForm -->
                </div>

                <!-- Footer container -->
                <div class="ebems-footer-container" id="footer">
                    <!-- Footer -->
                    <footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted">
                        <!-- Footer Menu -->
                        <ul class="list-inline mb-md-0">
                            <li class="list-inline-item">
                                <a class="text-muted" href="https://icloudn.net/" target="_blank">About CloudN</a>
                            </li>
                        </ul>
                        <!-- End Footer Menu -->

                        <!-- Copyright -->
                        <span class="text-muted ml-auto">&copy; 2020 <a class="text-muted" href="https://icloudn.net/" target="_blank">CloudN</a>. All Rights Reserved.</span>
                        <!-- End Copyright -->
                    </footer>
                    <!-- End Footer -->
                </div>
                <!-- End Footer container -->

            </div>
            <!-- End content -->

        </main>
    </body>
    <!-- End HTML body -->
</html>